<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div class='links'>
          <a href="/spaces"> Back to listings</a>
        </div>
        <h2><%= @request_message %></h2><br />
    </body>
</html>
