<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h2><%= @space.name %></h2>
        <p><%= @space.description %></p>
        <p>From: <%= @account.email %></p>
        <p>Date: <%= @booking.date %></p>
        <form action="/requests/confirm" method="POST">
            <div class='signup_form'>
            <input type="submit" name="status" value="Confirm Request" class="button">
            <br /><br />
            <input type="submit" name="status" value="Deny Request" class="button">
            </div>
        </form>
    </body>
</html>
