<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List a Space</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Your space has been listed</h1>
    <a href="/spaces"> Back to listings</a>
  </body>  
</html>
