<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div class='signup_form'>
          <h2>Your space has been listed</h2><br />
          <form action="/spaces" method="GET">
              <input type="submit" value="Spaces" class="button">
          </form>
        </div>
    </body>
</html>

