<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h2>Login to MakersBnB</h2>
        <form action="/sessions/new" method="POST">
            <div class='signup_form'>
            <label>Email Address</label>
            <input type="email" name="email" maxlength="100" required><br /><br />
            <label>Password</label>
            <input type="password" name="password" minlength="8" maxlength="8" required><br /><br />
            <input type="submit" value="Login" class="button">
            </div>
        </form>
        <p><%=@error_message%></p>
        <div class='button_corner'>
            <form action="/" method="GET">
             <input type="submit" value="Sign In" style="float: right;" class="button">
            </form>
        </div>
    </body>
</html>