<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Feel at home, anywhere</h1>
        <div class='signup_form'>
        <p>Are you sure you want to logout?</p>
            <form action="/logout" method="POST">
                <input type="submit" value="Logout" class="button">
            </form>
        <p>Or return to spaces?</p>
            <form action="/spaces" method="GET">
                <input type="submit" value="Return" class="button">
            </form>
        </div>
    </body>
</html>