<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h2>Are you sure you want to logout?</h2>
        <form action="/logout" method="POST">
            <div class='logout_page'>
            <input type="submit" value="Logout" class="button_small">
            </div>
        </form>
        <h2>Or return to spaces?</h2>
        <form action="/spaces" method="GET">
            <div class='logout_page'>
            <input type="submit" value="Return" class="button_small">
            </div>
        </form>
    </body>
</html>