<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <h1>Requests I have made</h1>

        <% @my_requested_spaces.each do |space| %>
          <div class='signup_form'> 
          <h2><%=@space_repo.find(space.space_id).name%></h2>
          <p><%=space.status%></p>
          <p><%=space.date%></p>
         </div> 
         <% end %>
    </body>
    <div class='button_corner'>
        <form action="/spaces" method="GET">
          <input type="submit" value="Spaces" class="button">
        </form>
    </div>
</html>
