<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div class='links'>
        <form action="/spaces" method="GET">
        <input type="submit" value="Spaces" class="button">
          <%# <a href="/spaces"> Back to listings</a> %>
        </div>
        <h2>Your booking has been requested</h2><br />
    </body>
</html>
