<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h2>Your booking has been requested</h2>
         <div class='spaces_button'>
            <form action="/spaces" method="GET">
            <input type="submit" value="Spaces" class="button">
          <%# <a href="/spaces"> Back to listings</a> %>
        </div>
    </body>
</html>

