<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <h1>Requests I have received</h1>
        <% @my_requested_spaces.each do |space| %>
          <div class='signup_form'> 
          <h2><a href="/requests/confirm/<%=@user_id%>"><%=@space_repo.find(space.space_id).name%></h2>
          <p><%=space.status%></p>
          <p><%=space.date%></p>
         </div> 
         <% end %>
     
    </body>
</html>