<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Feel at home, anywhere</h1>
        <div class='links'>
          <a href="/spaces">View spaces</a>
        </div>
        <h2>Sign up complete for <%= @name %></h2><br />
    </body>
</html>