<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div class='links'>
          <a href="/sessions/new">Login to MakersBnB</a>
        </div>
        <h2>Sign up complete for <%= @name %></h2><br />
    </body>
</html>
