<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book a Space</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Book a Space</h1>
    <main class="content-width">
    </main>
    <%@spaces.each do |space|%>
      space.name
      space.description
      space.price
    <%end%>

  </body>
</html>
